<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="EntityDefinitions" type="CSharpCodeSamples.Definitions.Configuration.EntityDefinitionsSection, TPG.PlatformServices" />
    <section name="SearchFieldDefinitions" type="CSharpCodeSamples.Definitions.Configuration.SearchFieldDefinitionsSection, TPG.PlatformServices" />
    <section name="DisplayDefinitions" type="CSharpCodeSamples.Definitions.Configuration.DisplayDefinitionsSection, TPG.PlatformServices" />
  </configSections>
  <system.diagnostics>
    <switches>
      <!--
            This is a trace switch. The follow are its values
            0 - Off
            1 - TraceError - Error
            2 - TraceWarning - Error and Warning
            3 - TraceInfo - Error, Warning and Info
            4 - TraceVerbose - Everything
            All the information which are lower than this setting will be activated.
            eg.
            if you set the value 3. The following will be activated
            Error, Warning and Info
            -->
      <add name="TraceLevel" value="4" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove name="Default" />
        <add name="CSCSTraceListener01" type="TPG.Domain.Providers.TPGTraceListener, TPG.Domain, Culture=neutral" traceOutputOptions="DateTime" />
        <!--<add name="CSCSTraceListener02" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime"/>-->
      </listeners>
    </trace>
  </system.diagnostics>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- container registration here -->
  </unity>
  <connectionStrings>
    <!-- connection string stuff here -->
  </connectionStrings>
  <EntityDefinitions>
    <EntityDefinition name="ORDER" alias="OR" permname="Read Only Order User" menutemplate="display template here - for use with a menu selection"/>
    <EntityDefinition name="REPRESENTATIVE" alias="SR" permname="Representative User" menutemplate="display template here - for use with a menu selection"/>
  </EntityDefinitions>
  <SearchFieldDefinitions>
    <SearchFieldDefinition entityname="ORDER">
      <FieldGroupDefinition alias="STARTDATE,SD" datatype="date">
        <FieldDefinition name="STARTDATE" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="ENDDATE,ED" datatype="date">
        <FieldDefinition name="ENDDATE" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="ORDERNUMBER,ON">
        <FieldDefinition name="ORDERNUMBER" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="ORDERDATE,DATE,OD" datatype="date">
        <FieldDefinition name="ORDERDATE" isdefaultdate="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="CUSTOMERGROUP,GROUP,G">
        <FieldDefinition name="CUSTOMERGROUP" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="SALESREPID,SRID">
        <FieldDefinition name="SALESREPID" iscrossfield="true" isupdatable="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="FULLNAME,NAME,SRN">
        <FieldDefinition name="FULLNAME" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="SALESLOCATIONID,SLID">
        <FieldDefinition name="SALESLOCATIONID" iscrossfield="true" isupdatable="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="SALESLOCATIONNAME,SLN,SL">
        <FieldDefinition name="SALESLOCATIONNAME" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="SHIPPINGNAME,SN" islongtext="true">
        <FieldDefinition name="SHIPPINGNAME" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="ORDERTOTAL,OT" datatype="decimal">
        <FieldDefinition name="TOTALAMOUNT" />
      </FieldGroupDefinition>
    </SearchFieldDefinition>
    <SearchFieldDefinition entityname="REPRESENTATIVE">
      <FieldGroupDefinition alias="SALESREPNAME,SRN">
        <FieldDefinition name="SALESREPNAME" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="CITY,C">
        <FieldDefinition name="CITY" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="STATE,ST">
        <FieldDefinition name="STATE" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="SALESREPID,SRID">
        <FieldDefinition name="ERPID" iscrossfield="true" />
      </FieldGroupDefinition>
      <FieldGroupDefinition alias="EMPLOYEEIDENTIFICATION,EID">
        <FieldDefinition name="EMPLOYEEIDENTIFICATION" iscrossfield="true" />
      </FieldGroupDefinition>
    </SearchFieldDefinition>
  </SearchFieldDefinitions>
  <DisplayDefinitions>
    <DisplayEntityFieldDefinition entityname="ORDER">
      <DisplayFieldDefinition name="OrderNumber" displaylabel="Order Number" />
      <!-- other display fields here -->
    </DisplayEntityFieldDefinition>
    <DisplayEntityFieldDefinition entityname="REPRESENTATIVE">
      <DisplayFieldDefinition name="Id" displaylabel="Id" datatype="number" ishidden="true" />
      <DisplayFieldDefinition name="City" displaylabel="City" />
      <DisplayFieldDefinition name="State" displaylabel="State" width="180" minwidth="100" />
      <DisplayFieldDefinition name="EmployeeIdentification" displaylabel="Employee Id" />
      <DisplayFieldDefinition name="PhoneNumberFormatted" displaylabel="Phone" />
      <DisplayFieldDefinition name="ERPId" displaylabel="Sales Rep Id" />
      <!-- other display fields here -->
    </DisplayEntityFieldDefinition>
  </DisplayDefinitions>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>